@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Shadows+Into+Light&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/029/969/original/blue-sky-skyscape-background-concept-free-vector.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


ul{
    list-style: none;
}

.ff-roboto{
    font-family: 'Roboto Condensed', sans-serif;
}

.ff-shadow{
    font-family: 'Shadows Into Light', cursive;
}

img{
    width: 100%;
    max-width: 200px;
}
